<p>Welcome to the build doctor jobs page.  All the jobs are on the RSS feed. Rah rah rah.</p>

<%= content %>

<p>To have your CV put forward for any of these roles, send an email in confidence to jobs@build-doctor.com</p>
